body{
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
.home-container{
    width: 100vw;
    display: flex;
    .left{
        width: 6vw;
        height: 100vh;
        background-color: rgba(0, 119, 255, 0.945);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .left-header, .left-footer{
            display: flex;
            flex-direction: column;
        }
        .avatar{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            margin-top: 30px;
            margin-bottom: 5px;
            &:hover{
                    cursor: pointer;
                }
            img{
                width: 100%;
            }
        }
        .icon{
            padding: 13px;
            border-radius: 5px;
            position: relative;
            .bi{
                font-size: 28px;
                color: white;     
            }
            &:hover{
                    cursor: pointer;
                    background-color: #1414142a;
                }
            &:hover .modal-setting{
                display: block;
            }
            margin-top: 3px;
            .modal-setting{
                width: 230px;
                position: absolute;
                bottom: 100%;
                left: -20px;
                background-color: rgb(252, 252, 252);
                padding: 10px 0;
                color: black;
                border-radius: 5px;
                display: none;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.123);
                &::after{
                    content: "";
                    width: 200px;
                    height: 50px;
                    background-color: transparent;
                    z-index: 1000;
                    position: absolute;
                }
                .modal-item{
                    padding: 5px 10px;
                    display: flex;
                    align-items: center;
                    color: rgb(27, 27, 27);
                    justify-content: space-between;
                    position: relative;
                    .modal-icon{
                        width: 50px;
                        overflow: hidden;
                        text-align: center;
                        .bi{
                            font-size: 20px;
                             color: black;
                        }
                        img{
                            width: 30px;
                            
                        }
                       
                    }
                    .modal-title{
                        flex: 1;
                        color: rgba(26, 26, 26, 0.808);
                    }
                     .modal-expends{
                            color: black;
                            .bi{
                                color: rgba(0, 0, 0, 0.774);
                                font-size: 12px;
                            }
                        }
                    &:hover{
                        cursor: pointer;
                        background-color: #14141410;
                    }
                     &:hover .modal-data{
                         display: block;
                     }
                    .modal-data{
                        min-width: 150px;
                        top: 0;
                        left: 100%;
                        z-index: 1000;
                        position: absolute;
                        background-color: white;
                        display: none;
                        padding: 5px 0;
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.123);
                        .modal-item{
                            display: flex;
                            position: relative;
                             &:hover{
                                cursor: pointer;
                                background-color: #1414142a;
                            }
                           
                            .modal-orther{
                                min-width: 150px;
                                position: absolute;
                                left: 100%;
                                top: 0;
                                background-color: white;
                                display: none;
                                padding: 5px 0;
                                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.123);
                            }
                            &:hover .modal-orther{
                                display: block;
                                background-color: white;
                            }
                        }
                    }
                }
            }
        }
        .icon.active{
            background-color: #1414145d;
        }

    }
    .right{
        background-color: #f0efef;
        flex: 1;
        display: flex;
        flex-direction: column;
        .right-header{
            background-color: #e0e0e0;
            height: 30px;
            display: flex;
            align-items: center;
            padding: 0 10px;
        }
        .right-content{
            flex: 1;
            background-color: white;
            display: flex;
            .list-content{
                width: 350px;
                height: calc(95vh + 123x);
                border-right: 0.1px solid rgb(221, 220, 220);
                .found-container{
                    display: flex;
                    font-size: 20px;
                    align-items: center;
                    justify-content: space-around;
                    padding: 20px;
                    .form-control{
                        padding: 10px;
                        flex: 1;
                        display: flex;
                        background-color: #c2c2c24d;
                        margin-right: 10px;
                        border-radius: 5px;
                        &>.bi{
                            font-size: 15px;
                        }
                        input{
                            width: 100%;
                            border: none;
                            outline: #c2c2c200;
                            background-color: #c2c2c200;
                            padding: 0 10px;
                            box-sizing: border-box;
                        }
                        
                    }
                    .bi + .bi {
                            margin-left: 10px;
                            
                    }
                    .bi{
                        cursor: pointer;
                        font-size: 25px;
                    }
                }
                .list-users
                {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    .user-item{
                        height: 45px;
                        display: flex;
                        align-items: center;
                        padding: 10px 20px;
                        // box-sizing: border-box;
                        cursor: pointer;
                        &:hover{
                            cursor: pointer;
                            background-color: #14141410;
                        }
                        .user-avatar{
                            width: 50px;
                            height: 50px;
                            // overflow: hidden;
                            margin-right: 20px;
                            background-color: #fff;
                            border-radius: 50%;
                            display: flex;
                            position: relative;
                            img{
                                width: 100%;
                                border-radius: 50%;
                            }
                        }
                        .user-content{
                            flex: 1;
                            &>p:nth-child(1){
                                font-size: 18px;
                            }
                            &>p{
                                line-height: 10px;
                                font-size: 15px;
                            }
                        }
                        .user-more{
                            display: flex;
                            align-items: flex-start;
                            flex-direction: column;
                           &>p{
                            margin-top: 0;
                            font-size: 12px;
                           }
                           &>.more-action{
                                width: 15px;
                                img{
                                    width: 100%;
                                }
                           }
                        }
                    }
                    .user-item.active{
                        background-color: #a6d6f16e;
                    }
                }
            }
            .content{
                flex: 1;
                display: flex;
                flex-direction: column;
                .content-header{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 0 2%;
                    box-sizing: border-box;
                    border-bottom: 0.1px solid rgb(221, 220, 220);
                    .content-left, .content-right{
                        flex: 1;
                        display: flex;
                        align-items: center;
                    }
                    .content-left{
                        .content-avatar{
                            width: 50px;
                            height: 50px;
                            // overflow: hidden;
                            margin-right: 10px;
                            // border-radius: 50%;
                            align-items: center;
                            position: relative;
                            img{
                                width: 100%;
                                border-radius: 50%;
                                height: 100%;
                            }
                        }
                        .content-body{
                            padding: 10px 0;
                            .content-username{
                                font-size: 20px;
                            }
                            .content-status{
                                color: rgb(131, 130, 130);
                            }
                        }
                    }
                    .content-right{
                        justify-content: flex-end;
                        .icon{
                            font-size: 24px;
                            margin-left: 10px;
                            display: flex;
                            align-items: center;
                            padding: 10px;
                            box-sizing: border-box;
                            &:hover{
                                cursor: pointer;
                                background-color: #14141410;
                                border-radius: 3px;
                            }
                        }
                    }
                    
                }
                .box-message{
                    background-color: rgba(209, 208, 208, 0.445);
                    height: 81vh;
                    // background-color: red;
                    overflow: scroll;
                    padding: 0 10px;
                }
                .box-message::-webkit-scrollbar {
                    display: none; /* Chrome, Safari */
                }
                .input-container{
                    flex: 1;
                    background-color: white;
                    position: relative;
                    .typing-container {
                        position: absolute;
                        bottom: 100%;
                        background-color: #fff;
                        border-bottom: 1px solid #ccc;
                        p {
                            font-size: 14px;
                            margin: 0;
                            padding: 2px 5px;

                            &::after {
                            content: '';
                            display: inline-block;
                            width: 1em; // giữ chỗ cho dấu chấm
                            text-align: left;
                            animation: dots 1.5s steps(3, end) infinite;
                            }
                        }
                    }
                    .header-input-modal{
                        width: 100%;
                        position: absolute;
                        bottom: 100%;
                        min-height: 50px;
                        background-color: white;
                        display: flex;
                        align-items: center;
                        padding: 0 10px;
                        box-sizing: border-box;
                        overflow-x: scroll;
                        img{
                            height: 40px;
                            cursor: pointer;
                        }
                        img + img {
                            margin-left: 5px;
                        }
                    }
                    .header-input{
                        height: 40%;
                        border-bottom: 0.1px solid rgba(131, 131, 131, 0.486);
                        display: flex;
                        align-items: center;
                        padding: 10px;
                        box-sizing: border-box;
                        &>.bi{
                            font-size: 22px;
                            cursor: pointer;
                            padding: 5px 10px;
                            box-sizing: border-box;
                            border-radius: 5px;
                            &:hover{
                                background-color: #b3b3b38f;
                            }
                        }
                        .bi + .bi{
                            margin-left: 10px;
                        }
                    }
                    .form-input{
                        background-color: #fff;
                        height: 60%;
                        display: flex;
                        align-items: center;
                        padding: 10px;
                        box-sizing: border-box;
                        input{
                            line-height: 30px;
                            border: none;
                            flex: 1;
                            outline: rgba(255, 0, 0, 0);
                        }
                        &>.bi{
                            width: 30px;
                            cursor: pointer;
                            font-size: 25px;
                            margin-left: 5px;
                            
                        }
                        .btn-send{
                                color: blue;
                        }
                        .thumup{
                            color: orange;
                        }
                    }
                }
            }
            
            .box-expends{
                width: 350px;
                height: calc(95vh + 16px);
                border-left: 0.1px solid rgb(221, 220, 220);
                display: flex;
                flex-direction: column;
                overflow-y: scroll;
                .box-expends-header{
                    width: 100%;
                    height: 162px;
                    display: flex;
                    justify-content: space-between;
                    padding: 0 2%;
                    box-sizing: border-box;
                    border-bottom: 0.1px solid rgb(221, 220, 220);
                    &>p{
                        font-size: 20px;
                        text-align: center;
                        margin: auto;
                        font-weight: 550;
                        color: rgb(68, 67, 67);
                    }
                }
                
                .box-expends-body{
                    background-color: rgba(209, 208, 208, 0.445);
                    flex: 1;
                    .reminder, .info-user, .security, .distroy, .media, .file{
                        width: 100%;
                        background-color: #fff;
                    }
                    .security, .distroy, .media, .file{
                        margin-top: 20px;
                    }
                    .info-user{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .user-avatar{
                            width: 50px;
                            height: 50px;
                            overflow: hidden;
                            display: flex;
                            align-items: center;
                            border-radius: 50%;
                            margin-top: 30px;
                            margin-bottom: 10px;
                            img{
                                width: 100%;
                            }
                        }
                        .user-name{
                            display: flex;
                            margin: auto;
                            .user-username{
                                    font-size: 20px;
                                    line-height: 10px;
                                    margin-top: 9px;
                                    margin-left: 20px;
                                }
                            .edit-username{
                                width: 30px;
                                height: 30px;
                                margin-left: 10px;
                                background-color: #dad7d7bb;
                                padding: 10px;
                                box-sizing: border-box;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                
                                &>.bi{
                                    font-size: 12px;
                                    text-align: center;
                                    &:hover{
                                        cursor: pointer;
                                        border-bottom: 1px solid blue;
                                    }
                                }
                            }
                        }
                        .user-function{
                            display: flex;
                            .function-item{
                                flex: 1;
                                height: 80px;
                                display: flex;
                                flex-direction: column;
                                text-align: center;
                                align-items: center;
                                .function-item-icon{
                                    width: 30px;
                                    height: 30px;
                                    background-color: rgb(228, 228, 228);
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 50%;
                                    &:hover{
                                        background-color: rgb(214, 214, 214);
                                        cursor: pointer;
                                    }
                                }
                                .function-item-title{
                                    margin-top: 5px;
                                    color: rgb(73, 73, 73);
                                    font-weight: 10;
                                }
                            }
                        }
                    }
                    .reminder{
                        margin-top: 20px;
                        display: flex;
                        align-items: center;
                        .reminder-title{
                            font-size: 17px;
                            color: rgb(59, 59, 59);
                        }
                        .reminder-icon{
                            width: 30px;
                            height: 30px;
                            overflow: hidden;
                            padding: 10px;
                            img{
                                width: 100%;
                            }
                        }
                        &:hover{
                            cursor: pointer;
                            background-color: #14141410;
                        }
                    }
                    .media{
                        .media-title{
                            display: flex;
                            align-items: center;
                            padding: 0 10px;
                            justify-content: space-between;
                        }
                        .media-list{
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            gap: 10px;
                            .media-item{
                                width: 100px;
                                height: 100px;
                                display: flex;
                                cursor: pointer;
                                overflow: hidden; 

                            }
                        }
                    }
                    .file{
                        width: 100%;
                        .file-title{
                            display: flex;
                            padding: 0 10px;
                            align-items: center;
                            justify-content: space-between;
                            
                        }
                        .file-list{
                            overflow: hidden;
                                .file-item{
                                    display: flex;
                                    padding: 10px;
                                    align-items: center;
                                    
                                    .file-icon{
                                        display: flex;
                                        width: 30px;
                                        justify-content: center;
                                        font-size: 30px;
                                    }
                                    .file-content{
                                        padding: 0 10px;
                                        flex: 1;
                                    }
                                    .file-time{
                                        display: flex;
                                        align-self: flex-end;
                                        color: gray;
                                    }
                                    &:hover{
                                        cursor: pointer;
                                        background-color: #14141410;
                                    }
                                }
                            }
                    }
                    .security{
                        .security-title{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 0 10px;
                            &>p{
                                font-weight: 600;
                                font-size: 18px;
                            }
                            &>.bi{
                                cursor: pointer;
                            }
                        }
                        .list-security{
                            // display: flex;
                            // flex-direction: column;
                            padding: 0 0 10px 0;
                            .bi {
                                font-size: 23px;
                            }
                            .security-item{
                                height: 50px;
                                display: flex;
                                align-items: center;
                                padding: 0 10px;
                                .security-item-title{
                                    width: 100%;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    line-height: 1px;
                                    justify-content: space-between;
                                    &>p{
                                        padding: 0 10px;
                                    }
                                }
                                &:hover{
                                    cursor: pointer;
                                    background-color: #14141410;
                                }
                            }
                            .security-item1{
                                    height: 50px;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;   
                                    justify-content: flex-start;
                                    padding: 0 10px;
                                    .security-item-icon{
                                        display: flex;
                                        align-items: center;
                                        height: 30px;
                                        // justify-content: flex-start;
                                        
                                    }  
                                    .security-item-title1{
                                            display: flex;
                                            flex-direction: column;
                                            .group{
                                                display: flex;
                                                align-items: center;
                                                height: 30px;
                                                &>p{
                                                    padding: 0 10px;
                                                    margin: 0;
                                                }
                                                .security-help{
                                                    position: relative;
                                                    &>.bi{
                                                        font-size: 14px;
                                                    }
                                                    .modal-security-help{
                                                        width: 200px;
                                                        background-color: #100dbb;
                                                        color: white;
                                                        padding: 20px;
                                                        position: absolute;
                                                        top: -75px;
                                                        left: calc(-200px / 2);
                                                        display: none;
                                                        &>p{
                                                            margin: 0;
                                                        }
                                                    }
                                                }
                                                .security-help:hover .modal-security-help{
                                                    display: block;
                                                }
                                            }
                                            align-items: center;
                                            &>p{
                                                padding: 0 10px;
                                                margin-top: 0;
                                                margin-bottom: 3px;
                                                margin-left: -20px;
                                            }
                                        }
                                        &:hover{
                                            cursor: pointer;
                                            background-color: #14141410;
                                        }
                            }
                        }
                    }
                    .distroy{
                        display: flex;
                        flex-direction: column;
                        padding: 5px 0;
                        .bi{
                            font-size: 23px;
                        }
                        .distroy-item{
                            display: flex;
                            height: 50px;
                            align-items: center;
                            padding: 0 10px;
                            box-sizing: border-box;
                            .distroy-item-title{
                                padding: 0 10px;
                            }
                             &:hover{
                                cursor: pointer;
                                background-color: #14141410;
                            }
                        }
                    }
                }
            }
            .box-expends::-webkit-scrollbar {
                    display: none; /* Chrome, Safari */
                }
            
        }
    }
}
hr{
    color: black;
}
.typing{
    position: absolute;
    bottom: 100%;
    display: flex;
    align-items: center;
    background-color: red;
    height: fit-content;
    justify-content: flex-start;
    p{
        margin: 0;
        padding: 5px;
    }
}
.typing p::after {
    content: '';
    display: inline-block;
    width: 1em;
    text-align: left;
    animation: dots 1.5s steps(3, end) infinite;
}

@keyframes dots {
    0% { content: ''; }
    33% { content: '.'; }
    66% { content: '..'; }
    100% { content: '...'; }
}

.emoji-box{
    height: 80px;
    overflow-y: scroll;
    overflow-x: none !important;
    flex-wrap: wrap;
    gap: 0.5px;
    p{
        margin: 0;
        font-size: 20px;
    }
}