.online-container{
    position: absolute;
    // bottom: 5px;
    // right: 5px;
    bottom: 0;
    right: -5px;
    width: 12px;
    height: 12px;
    background-color: #4caf50;
    border: 2px solid white;
    border-radius: 50%;
}